.main{
  border: 2px solid black;
display: flex;
flex-direction: row;
}
.left{
  border: 2px solid black;
  padding: 1%;
  margin: 1%;
  width: 40%;
}
.left img{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
.right{
  border: 2px solid black;
  padding: 1%;
  margin: 1%;
  width: 40%;
}
.right img{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%
}
